*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

font-family:Poppins,sans-serif;

background:#07192f;

height:100vh;

overflow:hidden;

display:flex;

justify-content:center;

align-items:center;

}

/* Background */

body::before{

content:"";

position:absolute;

width:100%;

height:100%;

background:

radial-gradient(circle at top,

#173a72,

#07192f 70%);

z-index:-3;

}

/* Stars */

#stars{

position:absolute;

width:100%;

height:100%;

background-image:

radial-gradient(white 1px, transparent 1px);

background-size:45px 45px;

opacity:.35;

animation:moveStars 80s linear infinite;

}

@keyframes moveStars{

from{

transform:translateY(0);

}

to{

transform:translateY(-600px);

}

}

/* Card */

.cover{

width:100%;

display:flex;

justify-content:center;

align-items:center;

}

.glass{

width:700px;

max-width:90%;

padding:60px;

border-radius:30px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.15);

box-shadow:

0 0 60px rgba(0,0,0,.4);

text-align:center;

}

h1{

font-size:58px;

color:#FFD86B;

font-family:'Cormorant Garamond',serif;

margin-bottom:10px;

}

h2{

font-size:34px;

color:white;

margin-bottom:25px;

}

p{

color:#ddd;

font-size:20px;

line-height:1.8;

margin-bottom:40px;

}

button{

background:#FFD86B;

color:#0a1f44;

padding:18px 45px;

border:none;

border-radius:50px;

font-size:20px;

cursor:pointer;

transition:.35s;

font-weight:bold;

}

button:hover{

transform:scale(1.08);

box-shadow:

0 0 25px gold;

}
.book-container{

width:100%;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

perspective:2500px;

}

.book{

width:700px;

height:500px;

position:relative;

transform-style:preserve-3d;

transition:1s;

}

.page{

position:absolute;

width:100%;

height:100%;

background:#fefcf7;

border-radius:12px;

box-shadow:

0 30px 80px rgba(0,0,0,.35);

display:flex;

justify-content:center;

align-items:center;

padding:60px;

backface-visibility:hidden;

}

.cover{

background:

linear-gradient(145deg,

#0d2f67,

#163d86);

color:white;

}

.cover::before{

content:"";

position:absolute;

inset:15px;

border:2px solid gold;

border-radius:10px;

}

.cover-content{

text-align:center;

max-width:500px;

}

.page-content{

text-align:center;

max-width:520px;

}

.page h1{

font-size:50px;

margin-bottom:15px;

color:#d6aa32;

}

.page h2{

margin-bottom:30px;

font-size:28px;

color:#17386d;

}

.page p{

font-size:20px;

line-height:1.8;

color:#555;

}

.next{

margin-top:40px;

}
