*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

overflow:hidden;

font-family:Poppins,sans-serif;

background:#06172d;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

/* Background */

#background{

position:fixed;

width:100%;

height:100%;

background:
radial-gradient(circle at top,
#1f4f97,
#07192f 65%);

z-index:-5;

}

/* Stars */

#stars{

position:fixed;

width:100%;

height:100%;

background-image:

radial-gradient(#fff 1px,transparent 1px);

background-size:45px 45px;

opacity:.28;

animation:stars 90s linear infinite;

}

@keyframes stars{

from{

transform:translateY(0);

}

to{

transform:translateY(-1200px);

}

}

/* Book */

.scene{

perspective:2400px;

}

#book{

width:720px;

height:500px;

position:relative;

transform-style:preserve-3d;

transition:1s;

}

.page{

position:absolute;

width:100%;

height:100%;

border-radius:12px;

overflow:hidden;

box-shadow:

0 30px 80px rgba(0,0,0,.45);

}

/* Cover */

.cover{

background:

linear-gradient(
135deg,
#0d2f67,
#234f9d);

border:3px solid #d4af37;

display:flex;

justify-content:center;

align-items:center;

}

.cover::before{

content:"";

position:absolute;

inset:18px;

border:2px solid rgba(255,215,0,.45);

border-radius:8px;

}

.cover-content{

text-align:center;

padding:50px;

max-width:540px;

}

.cover h1{

font-family:'Cormorant Garamond',serif;

font-size:68px;

color:#ffd86b;

margin-bottom:10px;

}

.cover h2{

font-size:34px;

color:white;

margin-bottom:30px;

}

.cover p{

font-size:20px;

line-height:1.8;

color:#ececec;

margin-bottom:45px;

}

#startBtn{

background:#ffd86b;

color:#10264b;

border:none;

padding:18px 45px;

border-radius:50px;

font-size:20px;

cursor:pointer;

transition:.35s;

font-weight:bold;

}

#startBtn:hover{

transform:scale(1.08);

box-shadow:

0 0 30px gold;

}
